@import "../styles/globals.css";

@layer base {
  :root {
    @apply font-body;
  }

  body {
    @apply min-h-screen bg-background text-foreground antialiased;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation: none !important;
    transition: none !important;
  }
}
